<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Datas</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script data-main="<!-- @echo script -->" src="/components/requirejs/require.js"></script>
  <!-- @if node_env='development' -->
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- @endif -->
</head>
<body>
  <div id="wrap">
    <div id="header">
      <!-- Layout Header -->
    </div>
    <div id="main">
      <!-- Layout Main -->
    </div>
  </div>
  <div id="footer">
    <!-- Layout Footer -->
  </div>
</body>
</html>
